@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #F9F6F1;
}

h1{
    color: white;
    text-align: center;
    font-family: "Mountains of Christmas", serif;
}

h2{
    color: #BB2528;
    font-family: "Mountains of Christmas", serif;
    font-size: 45px;
}

.headerDisplay {
    display: flex;
    background-color: #BB2528;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 

}

.gameDisplay {
    display: flex;
    background-color: #146B3a;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    gap: 30px;
}

.scoreDisplay {
    display: flex;
    flex: 1;
    background-color: #F9F6F1;
    border-radius: 10px;
    align-items:start;
    justify-content: space-around;
    min-width: 200px;
    flex-direction: column;
    padding:20px;
    gap: 10px;

}

.profile-image {
    background: #f7f7f7;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.quizDisplay{
    display: flex;
    flex: 2;
    background-color: #F9F6F1;
    border-radius: 10px;
    padding: 50px;
}

.footer{
    display: flex;
    background-color: #333333;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 8px;
    margin-top: 20px;

}